- print is used to see some answers

- In jupyter notebook we no need to provide print statement in order 

- If more than two answer  are there we can check all answers using print statment

In [1]:
a=10
a

10

In [2]:
print(a)

10

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [4]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [5]:
num1=20
num2=30
add=num1+num2
print(add)

50

In [ ]:
# the addition of 20+30 is 50

In [8]:
num1=20
num2=30
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)

the addition of 20 and 30 is 50

In [12]:
num1=200
num2=30
add=num1+num2
print(add)

# print("the addition of",num1,'and',num2,'is',add)

230

In [ ]:
# the addition of 200 and 30 is 230

In [13]:
name='python'
age=10
city='hyd'
# hello my name is python,in 10years old from hyd
print("hello my name is ",name,'in',age,'years old from',city)

hello my name is  python in 10 years old from hyd

In [17]:
name="murli"
age=25
city='warangal'
print(" hello my name is",name,'in',age,'years old from',city)

 hello my name is murli in 25 years old from warangal

In [19]:
num1=200
num2=300
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)
print("the addition of {} and {}".format (num1,num2,add))

the addition of 200 and 300 is 500
the addition of 200 and 300

- first decide how the print statement should be

- then replace the variables position as curly braces

- then apply .format method

In [20]:
num1=200
num2=300
add=num1+num2
add=num1+num2
print("the addition of{},{}is:{}".format(num1,num2,add))

the addition of200,300is:500

In [28]:
num1=100
num2=22
num3=30
avg=(num1+num2+num3)/3
print("the avarage of",num1,num2,'and',num3,'is',avg)
print("the avarage of{},{},and,{}is:{}".format(num1,num2,num3,avg))

the avarage of 100 22 and 30 is 50.666666666666664
the avarage of100,22,and,30is:50.666666666666664

**Round method**

In [29]:
val=50.666666666666664
round(val,1)

50.7

In [35]:
n1=5
n2=10
n3=15
avg=(n1+n2+n3)/3
print ("the avarage of {},{},and,{},is:{}".format(n1,n2,n3,avg))

the avarage of 5,10,and,15,is:10.0

In [36]:
num1=100
num2=22
num3=30
avg=(num1+num2+num3)/3
avg1=round(avg)
print("the avarage of num1,num2 and num3 is :avg")
print("the avarage of{},{},and,{}is:{}".format(num1,num2,num3,avg))

the avarage of num1,num2 and num3 is :avg
the avarage of100,22,and,30is:50.666666666666664

**F string method**

  - variable should be inside curly braces

  - and write everything inside quotes

  - at starting simply add f

In [10]:
num1=200
num2=300
add=num1+num2
print(f"the addition of {num1} , {num2} is:{add}")

the addition of 200 , 300 is:500

### f string method is the best method for realtime

In [14]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print(f"the average of {num1},{num2},and,{num3} is {avg}")

the average of 100,200,and,300 is 200.0

In [17]:
name='python'
age=10
city='hyd'
print (f"hello my name is,{name},in,{age},years old from,{city}")

hello my name is,python,in,10,years old from,hyd

**end**

In [21]:
print('hello',end=' ')        #1
print('good morning') #2
# hello good morning

hello good morning

In [28]:
print=(1)
print=(2)
print=(3)

# 1 2 3

**separate**

- one print statement only 

- in side one print statement we have multiple values

- I want to seperate these multiple values with anything